#Symfony
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

#phpStorm
/.idea/
composer.lock
###> symfony/framework-bundle ###
/.env
/%PUBLIC_DIR%/bundles/
/%VAR_DIR%/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/%PUBLIC_DIR%/build/
###< symfony/webpack-encore-pack ###
