{% extends "../base.html.twig" %}

{% block content %}
    <div class="container">
        <h3>Входные параметры:</h3>
        <p>Размер поля: {{ size }}</p>
        <p> Шагов наблюдения: {{ step }}</p>
    </div>
{% endblock %}